# **SQL 3 Соединение таблиц**

Напишите запрос, который выведет сезон (season), общее количество забитых мячей домашними (total_home_goals) и гостевыми (total_away_goals) командами.  
Отсортируйте по столбцу с сезоном в порядке возрастания.

select  
    season,  
    sum(home_team_goals) total_home_goals,  
    sum(away_team_goals) total_away_goals  
from sql.matches  
group by season  
order by season

##### **Соединение таблиц по ключу**
***
Чтобы соединить две таблицы между собой, достаточно **записать названия таблиц через запятую в разделе from**. 

SELECT *  
FROM  
    sql.teams,  
    sql.matches  

Каждая запись, которая есть в таблице teams, будет соединена с каждой записью в таблице matches.  
Это действие также называют **декартовым произведением таблиц**.

В данном случае соединение таблиц не даёт практической пользы: мы получили очень много записей, которые никак не можем интерпретировать, потому что команды не соответствуют матчам.  
Давайте исправим это. В таблице teams есть столбец api_id, а таблица matches содержит столбцы home_team_api_id и away_team_api_id — это ключи таблиц, по которым они соединяются.  
**Ключ** — это поле (столбец) в таблице, которое позволяет однозначно идентифицировать запись (строку).  
Чтобы соединить таблицы и получить данные о домашней команде по каждому матчу, добавим условие  
where home_team_api_id = api_id.  
Аналогично можем получить данные о гостевых командах: необходимо изменить условие на  
where away_team_api_id = api_id.  

SELECT *  
FROM  
    sql.teams,  
    sql.matches  
WHERE home_team_api_id = api_id  


Ключи бывают двух основных типов:

**Primary — первичный ключ** — служит для идентификации текущей таблицы и, как правило, идёт первым в списке столбцов. Всегда уникален: повторяющихся значений в основной таблице быть не может.
**Foreign — внешний ключ** — представляет собой ссылку на другую таблицу.

Как правило, названия ключей имеют «хвост», который позволяет их идентифицировать: например, _id, _rk, _cd, _pk (от primary_key), _fk (от foreign_key) и другие.
***

Напишите запрос, который выведет таблицу с результатами матчей, содержащую:  

названия гостевых команд (long_name);  
количество забитых мячей домашней команды (home_team_goals);  
количество забитых мячей гостевой команды (away_team_goals).  

select  
    long_name,  
    home_team_goals,  
    away_team_goals  
from  
    sql.teams,  
    sql.matches  
where  
    away_team_api_id = api_id

##### **JOIN**
***
В качестве примера используем запрос из предыдущего юнита.

SELECT  
    long_name,  
    home_team_goals,  
    away_team_goals  
FROM  
    sql.teams,  
    sql.matches  
WHERE home_team_api_id = api_id  

и запишем его с использованием **JOIN**.

SELECT  
    long_name,  
    home_team_goals,  
    away_team_goals  
FROM  
    sql.teams  
JOIN sql.matches on home_team_api_id = api_id  
***


**СИНТАКСИС**

Оператор JOIN упрощает процесс соединения таблиц.

Его синтаксис можно представить следующим образом:

SELECT  
        столбец1,  
	столбец2,  
	...  
FROM  
	таблица1  
JOIN таблица2 ON условие  

**Порядок** присоединения таблиц в данном случае **не важен** — результат будет одинаковым.

С помощью JOIN можно соединить и **более двух таблиц**.

SELECT  
        столбец1,  
	столбец2,  
	...  
FROM  
	таблица1  
JOIN таблица2 ON условие  
JOIN таблица3 ON условие  
***


В таблицах, которые мы соединяем, могут быть **одинаковые названия столбцов**.  К примеру, столбец id есть и в таблице matches, и в таблице teams. Такой запрос **не будет обработан**.

Что же делать в таком случае?  
Можно указать, откуда мы хотим запросить данные, записав название таблицы перед столбцом **через точку**.  
SELECT  
    teams.id  
FROM   
    sql.teams  
JOIN sql.matches ON home_team_api_id = api_id  
***

Упростить обращение к различным таблицам можно, присвоив им **сокращённые названия — алиасы** (от англ. alias).

SELECT  
        столбец1,  
	столбец2,  
	...  
FROM  
	таблица1 AS короткое_название_1  
JOIN таблица2 AS короткое_название_2 ON условие  

Если необходимо записать название на русском языке ("таблица1") или с пробелом ("table 2"), то алиас можно обернуть в кавычки.  
Важно! Обращаться по такому алиасу придётся также с помощью кавычек.  
Но лучше не стоит.

Ключевое слово **as**, как и в названии столбца, **можно опустить** в большинстве СУБД.
***

Давайте с помощью запроса SQL получим таблицу, содержащую:

* название домашней команды;
* количество забитых домашней командой голов;
* количество забитых гостевой командой голов;
* название гостевой команды.

SELECT  
    h.long_name "домашняя команда",  
    m.home_team_goals "голы домашней команды",  
    m.away_team_goals "голы гостевой команды",  
    a.long_name "гостевая команда"  
FROM  
    sql.matches m  
    JOIN sql.teams h ON m.home_team_api_id = h.api_id  
    JOIN sql.teams a ON m.away_team_api_id = a.api_id  

Напишите запрос, который выведет столбцы: id матча, короткое название домашней команды (home_short), короткое название гостевой команды (away_short).  
Отсортируйте запрос по возрастанию id матча.

select  
   m.id,  
    h.short_name home_short,  
    a.short_name away_short  
from  
    sql.matches m  
join sql.teams h ON m.home_team_api_id = h.api_id  
JOIN sql.teams a ON m.away_team_api_id = a.api_id  
order by id

##### **Фильтрация и агрегатные функции**
***
К соединённым таблицам применимы функции ***фильтрации** данных.  
Например, можно вывести id матчей, в которых команда Arsenal была гостевой.

SELECT   
	m.id id_1,  
	m.season,  
	t.id id_2,  
	t.long_name  
FROM  
	sql.teams t  
JOIN sql.matches m ON m.away_team_api_id = t.api_id  

![результат джоина](https://lms.skillfactory.ru/assets/courseware/v1/7281095f07ca452dfb5963c7ea912fe7/asset-v1:SkillFactory+DSPR-2.0+14JULY2021+type@asset+block/dst3-u2-md3_4_1.png)

Напишите запрос, который выведет полное название команды (long_name), количество голов домашней команды (home_goal) и количество голов гостевой команды (away_goal) в матчах, где домашней командой были команды с коротким названием ‘GEN’.
Отсортируйте запрос по id матча в порядке возрастания.

select  
    h.long_name,  
    home_team_goals home_goal,  
    a.long_name,  
    away_team_goals away_goal  
from  
    sql.matches m  
    join sql.teams h on home_team_api_id = h.api_id  
    join sql.teams a on away_team_api_id = a.api_id  
where h.short_name = 'GEN'  
order by m.id  

Также мы можем отфильтровать записи **сразу по двум таблицам**.

SELECT *  
FROM  
    sql.matches m  
    JOIN sql.teams t on t.api_id = m.home_team_api_id  
WHERE  
    t.short_name = 'GEN'  
    AND m.season = '2008/2009'  

Напишите запрос, чтобы вывести id матчей, короткое название домашней команды (home_short), короткое название гостевой команды (away_short) для матчей сезона 2011/2012, в которых участвовала команда с названием Liverpool.
Отсортируйте по id матча в порядке возрастания.

select
    m.id,
    h.short_name home_short,
    a.short_name away_short
from
    sql.matches m
    join sql.teams h on home_team_api_id = h.api_id
    join sql.teams a on away_team_api_id = a.api_id
where
    m.season='2011/2012' and (h.long_name='Liverpool' or a.long_name='Liverpool')
order by m.id
***

**АГРЕГАЦИЯ ДАННЫХ**
К соединённым таблицам также применимы любые агрегатные функции — самые важные функции для анализа данных.

Например, мы можем вывести сумму голов по командам для матчей, где команда выступала в гостях.
 
SELECT  
    t.long_name, /*столбец long_name таблицы t*/  
    SUM(m.home_team_goals) + SUM(m.away_team_goals) match_goals /*функция суммирования; столбец home_team_goals таблицы m; функция   суммирования; столбец away_team_goals таблицы m; новое название столбца*/  
FROM  
    sql.matches m /*таблица matches с алиасом m*/  
    JOIN sql.teams t ON m.away_team_api_id = t.api_id /*оператор соединения таблиц; таблица teams с алиасом t; условие: away_team_api_id   таблицы m равен api_id таблицы t*/  
GROUP BY t.id /*группировка по столбцу id таблицы t*/  

**В данном запросе была использована группировка по столбцу id таблицы teams, хотя этот столбец не выводится в запросе. Это необходимо для того, чтобы команды с одинаковым названием, если такие найдутся, не группировались между собой. Группировка по названию команды в данном запросе будет неверной, так как есть несколько команд с одинаковым полным названием.**

Мы можем использовать оператор **HAVING** для фильтрации сгруппированных данных.

Поставим задачу — вывести таблицу с суммарным количеством забитых голов в матчах по командам и сезонам для команд, в которых суммарное количество голов в матчах сезона больше 100.

SELECT  
    m.season,  
    t.long_name,  
    SUM(m.home_team_goals) + SUM(m.away_team_goals) total_goals  
FROM sql.matches m  
JOIN sql.teams t ON t.api_id = m.home_team_api_id OR t.api_id = m.away_team_api_id  
GROUP BY m.season, t.id  
HAVING SUM(m.home_team_goals) + SUM(m.away_team_goals) > 100  

Напишите запрос, с помощью которого можно вывести список полных названий команд, сыгравших в гостях 150 и более матчей.
Отсортируйте список по названию команды.

select  
    t.long_name  
from   
    sql.teams t  
    join sql.matches m on m.away_team_api_id = t.api_id  
group by t.id  
having count(m.*)>=150  
order by t.long_name